<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login Template</title>
	<link type="text/css" href="/css/darkly.bootstrap.min.css" rel="stylesheet" />
	<style>
		@media screen and (max-width: 767px) {
		    body {
		        font-size: 2.6em;
		    }
		}
		
		@media screen and (min-width: 768px) {
		    body {
		        font-size: 2.6em;
		    }
		}
		
		@media screen and (min-width: 992px) {
		    body {
		        font-size: 2em;
		    }
		}
		
		@media screen and (min-width: 1200px) {
		    body {
		        font-size: 1.8em;
		    }
		}
	</style>
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script>
	$(document).ready(function() {
		console.log("Ready")
		/*
		A test of a cross-domain ajax request.
		The endpoint must send a header "Access-Control-Allow-Origin
		enabling the domain of this site to allow access.
		*/
		$.ajax("http://localhost:8081/cdtest", {
			success: function(data, textStatus, req) {
				console.log(data);
			},
			error: function(req, textStatus, errorThrown) {
				console.log(req)
				console.log(textStatus)
				console.log(errorThrown)
			},
			complete: function() {
				console.log("complete")
			}
		})
	})
	</script>
</head>
<body>
	<div class="container">
		<h2>Login template</h2>
		<p th:text="${login}"/>
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-xs-3 control-label" for="divesite">Dive site:</label>
				<div class="col-xs-5">
					<input class="form-control" type="text" id="divesite" value="" placeholder="(example)"/>
				</div>
				<div class="col-xs-2">
					<input class="btn btn-success" type="submit" value="Submit"/>
				</div>
			</div>
		</form>
	</div>
</body>
</html>