<!DOCTYPE html>
<html xmlns:ts="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="description" content="Monitoring page for service output"/>
<meta name="keywords" content="Spring,Bootstrap,Thymeleaf,jQuery,HTML,CSS"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Message Monitor</title>
<link type="text/css" href="/css/darkly.bootstrap.min.css" rel="stylesheet"/>
<style>
body {
	margin-top:5px;
}
.bg-info {
	margin-bottom:10px;
	padding:2px 2px 2px 4px;
}
.box {
	height: 400px;
}
.auto-scroll {
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 4px;
}
#status > h4 {
	display: none;
}
#messages tr {
	border-bottom: 2px solid #303030;
}
table {
	table-layout: fixed;
}
.col1 {
	width: 120px;
}
</style>
<script src="/js/jquery-3.2.1.min.js"></script>
<script>
/*<![CDATA[*/
$(document).ready(function() {
	setStatus("pending")
	var waitperiod = 5000;
	var maxMessages = 20;
	var paused = false;
	$("#btn-pause").click(function() {
		paused = true;
		waitperiod = 5000;
		setStatus("paused")
		this.blur();
	})
	$("#btn-resume").click(function() {
		paused = false;
		setStatus("pending")
		this.blur();
	})
	$("#btn-generate").click(function() {
		$.ajax("/generatemessage", {
			method: "GET",
			success: function(data, textStatus, req) {
				console.log("Success generating message");
				console.log(data);
			}
		});
		this.blur();
	})
	function checkMessages() {
		if (paused) {
			setTimeout(checkMessages, waitperiod)
			return
		}
		$.ajax("/messages", {
			dataType: "json",
			method: "GET",
			success: function(data, textStatus, req) {
				//console.log(req);
				//console.log(req.getAllResponseHeaders());
				setStatus("up")
				if (data.length == 0) {
					return;
				}
				var msgType = data.type;
				var messages = data.data;
				if (messages.length == 0) {
					return;
				}
				var total = $("#messages > tr").length + messages.length;
				var lastel = maxMessages - messages.length;
				if (lastel < 0) lastel = 0;
				$("#messages").find("tr").slice(lastel, maxMessages + 1).remove();
				var count = 0;
				for (var el in messages) {
					if (el < maxMessages) {
						count++;
						//console.log(JSON.stringify(messages[el]));
						$('<tr class="info"><td class="col1">' + msgType + '</td><td>' + JSON.stringify(messages[el]) + '</td></tr>').prependTo("#messages");
					}
				}
				//console.log("Added " + count + " messages");
				waitperiod = 5000
				$("#status-text").text("");
			},
			error: function(req, textStatus, errorThrown) {
				if (waitperiod < 30000) {
					waitperiod += 1000
				}
				console.log(req.getAllResponseHeaders());
				console.log("Check for messages failed, increasing wait to " + waitperiod)
				console.log("Err: " + textStatus + ": " + errorThrown);
				setStatus("down")
				$("#status-text").text(textStatus + " (" + req.status + "): " + errorThrown);
			},
			complete: function() {
				setTimeout(checkMessages, waitperiod)
			}
		})
	}
	
	setTimeout(function() {
		checkMessages();
	}, waitperiod)
})
function setStatus(status) {
	$("#status-text").text("");
	$("#status > h4").hide();
	$("#status > ." + status).show();
}
/*]]>*/
</script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2 class="panel-title">Message Monitor</h2>
				</div>
				<div class="panel-body">
					<div class="auto-scroll box">
						<h5>Actions</h5>
						<div class="btn-group">
							<button type="button" class="btn btn-default btn-sm" id="btn-pause">Pause <span class="glyphicon glyphicon-pause"></span></button>
							<button type="button" class="btn btn-default btn-sm" id="btn-resume">Resume <span class="glyphicon glyphicon-play"></span></button>
							<button type="button" class="btn btn-default btn-sm" id="btn-generate">Generate <span class="glyphicon glyphicon-file"></span></button>
						</div>
						<h5>Status</h5>
						<div id="status">
							<h4 class="up"><span class="label label-success">Connected <span class="glyphicon glyphicon-signal"></span></span></h4>
							<h4 class="down"><span class="label label-warning">Down <span class="glyphicon glyphicon-warning-sign"></span></span></h4>
							<h4 class="paused"><span class="label label-info">Paused</span></h4>
							<h4 class="pending"><span class="label label-info">Pending</span></h4>
						</div>
						<div id="status-text"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2 class="panel-title">Messages</h2>
				</div>
				<div class="panel-body">
					<div class="auto-scroll box">
						<table class="table table-bordered table-hover">
							<tbody id="messages"/>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>